In [1]:
import sqlite3

In [2]:
db = sqlite3.connect('database/patient.db')

In [3]:
# Pass SQL statements
curs = db.cursor()

#create table
curs.execute('''CREATE TABLE patient(id INTEGER PRIMARY KEY, diagnosis TEXT, area_mean DOUBLE, 
                                     radius_mean DOUBLE, smoothness_mean DOUBLE, compactness_mean DOUBLE)''')

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 105))

OperationalError: table patient already exists

In [4]:
db.commit()

In [5]:
# making data
patient_id1 = 842302
diagnosis1 = 'M'
area_mean1 = 1001
radius_mean1 = 17.99
smoothness_mean1 = 0.1184
compactness_mean1 = 0.2776

patient_id2 = 842517
diagnosis2 = 'M'
area_mean2 = 1326
radius_mean2 = 20.57
smoothness_mean2 = 0.08474
compactness_mean2 = 0.07864

patient_id3 = 84300903
diagnosis3 = 'M'
area_mean3 = 1203
radius_mean3 = 19.69
smoothness_mean3 = 0.1096
compactness_mean3 = 0.1599

In [6]:
patients = [(patient_id1, diagnosis1, area_mean1, radius_mean1, smoothness_mean1, compactness_mean1),\
            (patient_id2, diagnosis2, area_mean2, radius_mean2, smoothness_mean2, compactness_mean2),\
            (patient_id3, diagnosis3, area_mean3, radius_mean3, smoothness_mean3, compactness_mean3)]

curs.executemany('''INSERT INTO patient(id,diagnosis,area_mean,radius_mean,smoothness_mean,
                    compactness_mean) VALUES (?,?,?,?,?,?)''',patients)

In [8]:
curs.execute('SELECT * FROM patient')
curs.fetchall()

[(842302, u'M', 1001.0, 17.99, 0.1184, 0.2776),
 (842517, u'M', 1326.0, 20.57, 0.08474, 0.07864),
 (84300903, u'M', 1203.0, 19.69, 0.1096, 0.1599)]

In [18]:
curs.execute('''SELECT id,area_mean,radius_mean 
                FROM patient 
                WHERE radius_mean > 19
                ORDER BY id''')
curs.fetchall()

[(842517, 1326.0, 20.57), (84300903, 1203.0, 19.69)]

In [19]:
curs.execute('''SELECT id,area_mean,radius_mean 
                FROM patient 
                WHERE radius_mean BETWEEN 17 AND 20
                ORDER BY id''')
curs.fetchall()

[(842302, 1001.0, 17.99), (84300903, 1203.0, 19.69)]