In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import quandl

import pickle

In [35]:
api_key = 'oaoRfxFc9iKgnqsudsMa'

In [55]:
def state_list():
    return pd.read_excel('data/fifty-states.xlsx',header=None)[0]

In [54]:
%%timeit
main_df = pd.DataFrame()

for states in fifty_states:
    query = 'FMAC/HPI_'+str(states)
    df = quandl.get(query, authtoken = api_key)
    
    if main_df.empty:
        main_df = df
    else:
        #indexed by date, so join is the best because they all have the same dates
        main_df = main_df.join(df,lsuffix=states)
    
main_df.head()

1 loop, best of 3: 33.7 s per loop

### That took around 30 seconds, we should pickle to call it easily (pseudo cache, you can also write to csv)

In [56]:
import pickle

In [69]:
def grab_initial_state_data():
    states_list = state_list()
    main_df = pd.DataFrame()
    
    for states in states_list:
        query = 'FMAC/HPI_'+str(states)
        df = quandl.get(query, authtoken = api_key)
    
        if main_df.empty:
            main_df = df
        else:
            #indexed by date, so join is the best because they all have the same dates
            main_df = main_df.join(df,lsuffix=states)
    
    # makes a new file or open existing
    pickle_out = open('data/new_file.pickle','wb')
    # putting the dataframe in
    pickle.dump(main_df,pickle_out)
    # closing it because we opened it
    pickle_out.close()

In [70]:
grab_initial_state_data()

In [71]:
# Getting the dataframe from the pickle file
pickle_in = open('data/new_file.pickle','rb')
HPI_data = pickle.load(pickle_in)
HPI_data.head()

,ValueAK,ValueAZ,ValueAR,ValueCA,ValueCO,ValueCT,ValueDE,ValueFL,ValueGA,ValueHI,...,ValueTN,ValueTX,ValueUT,ValueVT,ValueVA,ValueWA,ValueWV,ValueWI,ValueWY,Value
Date,,,,,,,,,,,,,,,,,,,,,
1975-01-31,35.324038,34.400087,28.886571,36.838213,15.665713,19.666460,24.530646,27.146975,30.903838,30.862154,...,37.861487,32.210851,32.659989,24.603939,26.556884,27.954539,17.480301,41.248346,28.142079,31.820164
1975-02-28,35.545343,34.911194,29.374322,37.149935,15.721510,19.894520,25.051659,27.185646,32.121077,30.583518,...,37.445064,32.246969,32.970745,24.947973,26.807912,28.230531,17.549796,42.277521,28.537453,32.277898
1975-03-31,35.803942,35.434316,29.828662,37.420977,15.912556,20.118681,25.443161,27.252283,33.931871,30.466267,...,37.021567,32.329769,33.542148,25.258222,27.050106,28.431856,17.657853,43.349320,28.927629,32.762841
1975-04-30,36.120498,35.980265,30.179479,37.642638,16.225479,20.327062,25.663172,27.389022,36.149709,30.532432,...,36.601128,32.457447,34.383316,25.504964,27.270090,28.580271,17.787585,44.454450,29.277377,33.266394
1975-05-31,36.421849,36.576786,30.371230,37.864617,16.486814,20.497741,25.733086,27.622613,36.433117,30.653270,...,36.220049,32.606660,34.652016,25.668351,27.463349,28.704849,17.904450,45.566959,29.562586,33.755117

### Pandas has pickle too

In [74]:
HPI_data.to_pickle('data/pd_file.pickle')
HPI_data2 = pd.read_pickle('data/pd_file.pickle')
HPI_data2.head()

,ValueAK,ValueAZ,ValueAR,ValueCA,ValueCO,ValueCT,ValueDE,ValueFL,ValueGA,ValueHI,...,ValueTN,ValueTX,ValueUT,ValueVT,ValueVA,ValueWA,ValueWV,ValueWI,ValueWY,Value
Date,,,,,,,,,,,,,,,,,,,,,
1975-01-31,35.324038,34.400087,28.886571,36.838213,15.665713,19.666460,24.530646,27.146975,30.903838,30.862154,...,37.861487,32.210851,32.659989,24.603939,26.556884,27.954539,17.480301,41.248346,28.142079,31.820164
1975-02-28,35.545343,34.911194,29.374322,37.149935,15.721510,19.894520,25.051659,27.185646,32.121077,30.583518,...,37.445064,32.246969,32.970745,24.947973,26.807912,28.230531,17.549796,42.277521,28.537453,32.277898
1975-03-31,35.803942,35.434316,29.828662,37.420977,15.912556,20.118681,25.443161,27.252283,33.931871,30.466267,...,37.021567,32.329769,33.542148,25.258222,27.050106,28.431856,17.657853,43.349320,28.927629,32.762841
1975-04-30,36.120498,35.980265,30.179479,37.642638,16.225479,20.327062,25.663172,27.389022,36.149709,30.532432,...,36.601128,32.457447,34.383316,25.504964,27.270090,28.580271,17.787585,44.454450,29.277377,33.266394
1975-05-31,36.421849,36.576786,30.371230,37.864617,16.486814,20.497741,25.733086,27.622613,36.433117,30.653270,...,36.220049,32.606660,34.652016,25.668351,27.463349,28.704849,17.904450,45.566959,29.562586,33.755117