In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [43]:
web_stats = {'Day':[1,2,3,4,5,6],
             'Visitors':[43,34,65,56,29,76],
             'Bounce Rate':[65,67,78,65,45,52]}

In [44]:
df = pd.DataFrame(web_stats)
print df

   Bounce Rate  Day  Visitors
0           65    1        43
1           67    2        34
2           78    3        65
3           65    4        56
4           45    5        29
5           52    6        76

In [45]:
df.head()

   Bounce Rate  Day  Visitors
0           65    1        43
1           67    2        34
2           78    3        65
3           65    4        56
4           45    5        29

In [46]:
df.tail()

   Bounce Rate  Day  Visitors
1           67    2        34
2           78    3        65
3           65    4        56
4           45    5        29
5           52    6        76

In [47]:
print df

df.set_index('Day',inplace = True)    # df = df.set_index('Day')
print df

   Bounce Rate  Day  Visitors
0           65    1        43
1           67    2        34
2           78    3        65
3           65    4        56
4           45    5        29
5           52    6        76
     Bounce Rate  Visitors
Day
1             65        43
2             67        34
3             78        65
4             65        56
5             45        29
6             52        76

In [48]:
print df['Visitors']

Day
1    43
2    34
3    65
4    56
5    29
6    76
Name: Visitors, dtype: int64

In [49]:
print df.Visitors    #but you can't do it with bounce rate

Day
1    43
2    34
3    65
4    56
5    29
6    76
Name: Visitors, dtype: int64

In [50]:
print df[['Bounce Rate','Visitors']]

     Bounce Rate  Visitors
Day
1             65        43
2             67        34
3             78        65
4             65        56
5             45        29
6             52        76

In [51]:
print df.Visitors.tolist()     #but only can be done with Series

[43, 34, 65, 56, 29, 76]

In [52]:
print np.array(df[['Bounce Rate','Visitors']])

[[65 43]
 [67 34]
 [78 65]
 [65 56]
 [45 29]
 [52 76]]

In [53]:
df2 = pd.DataFrame(np.array(df[['Bounce Rate','Visitors']]))
print df2

    0   1
0  65  43
1  67  34
2  78  65
3  65  56
4  45  29
5  52  76