In [77]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [78]:
df = pd.read_csv('data/test.csv')
df.head()

         Date     Value
0  2016-09-30  465600.0
1  2016-08-31  469200.0
2  2016-07-31  474500.0
3  2016-06-30  481100.0
4  2016-05-31  491400.0

In [79]:
df.set_index('Date',inplace = True)
df.to_csv('data/newtest.csv')

In [80]:
df = pd.read_csv('data/newtest.csv')
df.head()

         Date     Value
0  2016-09-30  465600.0
1  2016-08-31  469200.0
2  2016-07-31  474500.0
3  2016-06-30  481100.0
4  2016-05-31  491400.0

In [81]:
df = pd.read_csv('data/newtest.csv',index_col = 0)
df.head()

               Value
Date
2016-09-30  465600.0
2016-08-31  469200.0
2016-07-31  474500.0
2016-06-30  481100.0
2016-05-31  491400.0

In [82]:
#renames all cols
df.columns = ['Austin_HPI']  #df.rename(columns = {'Value':'Austin_HPI'},inplace = True)
df.head()

            Austin_HPI
Date
2016-09-30    465600.0
2016-08-31    469200.0
2016-07-31    474500.0
2016-06-30    481100.0
2016-05-31    491400.0

In [83]:
df.to_csv('data/newtest2.csv',header=False) #takes away Date,Austin_HPI

In [84]:
df = pd.read_csv('data/newtest2.csv')
df.head()

   2016-09-30  465600.0
0  2016-08-31  469200.0
1  2016-07-31  474500.0
2  2016-06-30  481100.0
3  2016-05-31  491400.0
4  2016-04-30  503600.0

In [85]:
df = pd.read_csv('data/newtest2.csv',names = ['Date','Austin_HPI'],index_col = 0)
df.head()

            Austin_HPI
Date
2016-09-30    465600.0
2016-08-31    469200.0
2016-07-31    474500.0
2016-06-30    481100.0
2016-05-31    491400.0

In [86]:
df.to_html('data/example.html')

In [89]:
df = pd.read_csv('data/newtest2.csv',names = ['Date','Austin_HPI'])
df.rename(columns = {"Austin_HPI":"77006_HPI"},inplace = True)
df.head()

         Date  77006_HPI
0  2016-09-30   465600.0
1  2016-08-31   469200.0
2  2016-07-31   474500.0
3  2016-06-30   481100.0
4  2016-05-31   491400.0