In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
df1 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2001, 2002, 2003, 2004])

df2 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2005, 2006, 2007, 2008])

df3 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Unemployment':[7, 8, 9, 6],
                    'Low_tier_HPI':[50, 52, 50, 53]},
                   index = [2001, 2002, 2003, 2004])

In [10]:
# there is duplicated data and we lost indicies
print pd.merge(df1,df2,on='HPI')

   HPI  Int_rate_x  US_GDP_Thousands_x  Int_rate_y  US_GDP_Thousands_y
0   80           2                  50           2                  50
1   85           3                  55           3                  55
2   85           3                  55           2                  55
3   85           2                  55           3                  55
4   85           2                  55           2                  55
5   88           2                  65           2                  65

In [11]:
#merge with multiple columns
print pd.merge(df1,df2,on=['HPI','Int_rate'])

   HPI  Int_rate  US_GDP_Thousands_x  US_GDP_Thousands_y
0   80         2                  50                  50
1   85         3                  55                  55
2   88         2                  65                  65
3   85         2                  55                  55

In [12]:
df1.set_index('HPI',inplace =True)
df3.set_index('HPI',inplace =True)

In [13]:
# data replication
joined = df1.join(df3)
joined

     Int_rate  US_GDP_Thousands  Low_tier_HPI  Unemployment
HPI
80          2                50            50             7
85          3                55            52             8
85          3                55            53             6
85          2                55            52             8
85          2                55            53             6
88          2                65            50             9

In [15]:
df1 = pd.DataFrame({'Year':[2001,2002,2003,2004],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]})

df3 = pd.DataFrame({'Year':[2001,2003,2004,2005],
                    'Unemployment':[7, 8, 9, 6],
                    'Low_tier_HPI':[50, 52, 50, 53]})

In [20]:
merged = pd.merge(df1,df3, on = 'Year')
merged.set_index('Year',inplace = True)
merged

      Int_rate  US_GDP_Thousands  Low_tier_HPI  Unemployment
Year
2001         2                50            50             7
2003         2                65            52             8
2004         2                55            50             9

In [22]:
merged = pd.merge(df1,df3, on = 'Year',how = 'left')
merged

   Int_rate  US_GDP_Thousands  Year  Low_tier_HPI  Unemployment
0         2                50  2001          50.0           7.0
1         3                55  2002           NaN           NaN
2         2                65  2003          52.0           8.0
3         2                55  2004          50.0           9.0

In [23]:
merged = pd.merge(df1,df3, on = 'Year',how = 'right')
merged

   Int_rate  US_GDP_Thousands    Year  Low_tier_HPI  Unemployment
0       2.0              50.0  2001.0            50             7
1       2.0              65.0  2003.0            52             8
2       2.0              55.0  2004.0            50             9
3       NaN               NaN  2005.0            53             6

In [24]:
merged = pd.merge(df1,df3, on = 'Year',how = 'outer')
merged

   Int_rate  US_GDP_Thousands    Year  Low_tier_HPI  Unemployment
0       2.0              50.0  2001.0          50.0           7.0
1       3.0              55.0  2002.0           NaN           NaN
2       2.0              65.0  2003.0          52.0           8.0
3       2.0              55.0  2004.0          50.0           9.0
4       NaN               NaN  2005.0          53.0           6.0

In [25]:
# default: how = 'inner'
merged = pd.merge(df1,df3, on = 'Year',how = 'inner')
merged

   Int_rate  US_GDP_Thousands  Year  Low_tier_HPI  Unemployment
0         2                50  2001            50             7
1         2                65  2003            52             8
2         2                55  2004            50             9

In [ ]:
"""
Join: loves index
Merge: loves similar column names

"""