In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import quandl

import pickle

from matplotlib import style
style.use('ggplot')

In [2]:
HPI_data = pd.read_pickle('data/pd_file.pickle')
HPI_data.head()

,ValueAK,ValueAZ,ValueAR,ValueCA,ValueCO,ValueCT,ValueDE,ValueFL,ValueGA,ValueHI,...,ValueTN,ValueTX,ValueUT,ValueVT,ValueVA,ValueWA,ValueWV,ValueWI,ValueWY,Value
Date,,,,,,,,,,,,,,,,,,,,,
1975-01-31,35.324038,34.400087,28.886571,36.838213,15.665713,19.666460,24.530646,27.146975,30.903838,30.862154,...,37.861487,32.210851,32.659989,24.603939,26.556884,27.954539,17.480301,41.248346,28.142079,31.820164
1975-02-28,35.545343,34.911194,29.374322,37.149935,15.721510,19.894520,25.051659,27.185646,32.121077,30.583518,...,37.445064,32.246969,32.970745,24.947973,26.807912,28.230531,17.549796,42.277521,28.537453,32.277898
1975-03-31,35.803942,35.434316,29.828662,37.420977,15.912556,20.118681,25.443161,27.252283,33.931871,30.466267,...,37.021567,32.329769,33.542148,25.258222,27.050106,28.431856,17.657853,43.349320,28.927629,32.762841
1975-04-30,36.120498,35.980265,30.179479,37.642638,16.225479,20.327062,25.663172,27.389022,36.149709,30.532432,...,36.601128,32.457447,34.383316,25.504964,27.270090,28.580271,17.787585,44.454450,29.277377,33.266394
1975-05-31,36.421849,36.576786,30.371230,37.864617,16.486814,20.497741,25.733086,27.622613,36.433117,30.653270,...,36.220049,32.606660,34.652016,25.668351,27.463349,28.704849,17.904450,45.566959,29.562586,33.755117

In [3]:
HPI_data.plot()
plt.legend().remove()
plt.show()

### What tells us more is percent change

In [4]:
api_key = 'oaoRfxFc9iKgnqsudsMa'

In [5]:
def state_list():
    return pd.read_excel('data/fifty-states.xlsx',header=None)[0]

In [8]:
def grab_initial_state_data():
    states_list = state_list()
    main_df = pd.DataFrame()
    
    for states in states_list:
        query = 'FMAC/HPI_'+str(states)
        df = quandl.get(query, authtoken = api_key)
        
        # NEW
        df = df.pct_change()
    
        if main_df.empty:
            main_df = df
        else:
            #indexed by date, so join is the best because they all have the same dates
            main_df = main_df.join(df,lsuffix=states)
    
    # makes a new file or open existing (# NEW FILE )
    pickle_out = open('data/new_file2.pickle','wb')
    # putting the dataframe in
    pickle.dump(main_df,pickle_out)
    # closing it because we opened it
    pickle_out.close()

In [9]:
 grab_initial_state_data()

In [11]:
HPI_data = pd.read_pickle('data/new_file2.pickle')
HPI_data.head()

,ValueAK,ValueAZ,ValueAR,ValueCA,ValueCO,ValueCT,ValueDE,ValueFL,ValueGA,ValueHI,...,ValueTN,ValueTX,ValueUT,ValueVT,ValueVA,ValueWA,ValueWV,ValueWI,ValueWY,Value
Date,,,,,,,,,,,,,,,,,,,,,
1975-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1975-02-28,0.006265,0.014858,0.016885,0.008462,0.003562,0.011596,0.021239,0.001425,0.039388,-0.009028,...,-0.010999,0.001121,0.009515,0.013983,0.009452,0.009873,0.003976,0.024951,0.014049,0.014385
1975-03-31,0.007275,0.014984,0.015467,0.007296,0.012152,0.011267,0.015628,0.002451,0.056374,-0.003834,...,-0.011310,0.002568,0.017331,0.012436,0.009034,0.007131,0.006157,0.025352,0.013672,0.015024
1975-04-30,0.008841,0.015407,0.011761,0.005923,0.019665,0.010358,0.008647,0.005018,0.065361,0.002172,...,-0.011357,0.003949,0.025078,0.009769,0.008132,0.005220,0.007347,0.025494,0.012090,0.015370
1975-05-31,0.008343,0.016579,0.006354,0.005897,0.016106,0.008397,0.002724,0.008529,0.007840,0.003958,...,-0.010412,0.004597,0.007815,0.006406,0.007087,0.004359,0.006570,0.025026,0.009742,0.014691

In [14]:
HPI_data.plot()
plt.legend().remove()
plt.show()
#renamed new_file2 to new_file2_pct_change

In [25]:
def grab_initial_state_data():
    states_list = state_list()
    main_df = pd.DataFrame()
    
    for states in states_list:
        query = 'FMAC/HPI_'+str(states)
        df = quandl.get(query, authtoken = api_key)

        # NEW
        df['Value'] = (df['Value'] - df['Value'][0]) / df['Value'][0] * 100
    
        if main_df.empty:
            main_df = df
        else:
            #indexed by date, so join is the best because they all have the same dates
            main_df = main_df.join(df,lsuffix=states)
    
    # makes a new file or open existing (# NEW FILE )
    pickle_out = open('data/new_file3.pickle','wb')
    # putting the dataframe in
    pickle.dump(main_df,pickle_out)
    # closing it because we opened it
    pickle_out.close()

In [26]:
 grab_initial_state_data()

In [27]:
HPI_data = pd.read_pickle('data/new_file3.pickle')
HPI_data.head()

,ValueAK,ValueAZ,ValueAR,ValueCA,ValueCO,ValueCT,ValueDE,ValueFL,ValueGA,ValueHI,...,ValueTN,ValueTX,ValueUT,ValueVT,ValueVA,ValueWA,ValueWV,ValueWI,ValueWY,Value
Date,,,,,,,,,,,,,,,,,,,,,
1975-01-31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1975-02-28,0.626500,1.485775,1.688504,0.846192,0.356177,1.159639,2.123926,0.142451,3.938796,-0.902841,...,-1.099859,0.112132,0.951488,1.398290,0.945247,0.987288,0.397561,2.495069,1.404920,1.438502
1975-03-31,1.358575,3.006473,3.261346,1.581956,1.575690,2.299449,3.719898,0.387918,9.798243,-1.282758,...,-2.218400,0.369186,2.701039,2.659262,1.857227,1.707474,1.015723,5.093474,2.791371,2.962512
1975-04-30,2.254726,4.593530,4.475810,2.183669,3.573196,3.359028,4.616778,0.891619,16.974819,-1.068371,...,-3.328868,0.765570,5.276570,3.662119,2.685578,2.238392,1.757887,7.772685,4.034165,4.545011
1975-05-31,3.107829,6.327600,5.139617,2.786248,5.241395,4.226895,4.901787,1.752086,17.891884,-0.676830,...,-4.335377,1.228808,6.099286,4.326186,3.413295,2.684036,2.426439,10.469784,5.047628,6.080901

In [28]:
HPI_data.plot()
plt.legend().remove()
plt.show()

### Adding Entire USA

In [31]:
def HPI_Benchmark():
    df = quandl.get('FMAC/HPI_USA', authtoken = api_key)
    df['Value'] = (df['Value'] - df['Value'][0]) / df['Value'][0] * 100
    return df

In [32]:
HPI_USA = HPI_Benchmark()

In [36]:
fig = plt.figure()
ax1 = plt.subplot2grid((1,1),(0,0))

HPI_data.plot(ax = ax1)
HPI_USA.plot(ax = ax1,color='k',linewidth = 10)
plt.legend().remove()
plt.show()

### Finding Correlation

In [37]:
HPI_State_Correlation = HPI_data.corr()
HPI_State_Correlation.head()

,ValueAK,ValueAZ,ValueAR,ValueCA,ValueCO,ValueCT,ValueDE,ValueFL,ValueGA,ValueHI,...,ValueTN,ValueTX,ValueUT,ValueVT,ValueVA,ValueWA,ValueWV,ValueWI,ValueWY,Value
ValueAK,1.000000,0.946418,0.937592,0.995119,0.942310,0.965541,0.953146,0.982824,0.929395,0.978346,...,0.976382,0.994551,0.940841,0.979483,0.978591,0.975277,0.985060,0.982097,0.991161,0.946695
ValueAZ,0.946418,1.000000,0.910237,0.967983,0.921818,0.960382,0.884600,0.938068,0.900713,0.899525,...,0.974957,0.958200,0.980514,0.963944,0.956485,0.962226,0.958805,0.972376,0.930831,0.987373
ValueAR,0.937592,0.910237,1.000000,0.936454,0.976776,0.919486,0.917688,0.948801,0.994380,0.949167,...,0.906742,0.932276,0.896961,0.936448,0.924615,0.958568,0.956881,0.919514,0.935717,0.909381
ValueCA,0.995119,0.967983,0.936454,1.000000,0.945774,0.976929,0.944746,0.977921,0.928081,0.968410,...,0.986937,0.995595,0.962400,0.982990,0.981747,0.979944,0.984041,0.990395,0.986244,0.964090
ValueCO,0.942310,0.921818,0.976776,0.945774,1.000000,0.938870,0.942463,0.967911,0.985869,0.951573,...,0.930504,0.945515,0.917953,0.928609,0.956815,0.979699,0.965064,0.936562,0.945139,0.919537

In [40]:
HPI_State_Correlation.describe()

,ValueAK,ValueAZ,ValueAR,ValueCA,ValueCO,ValueCT,ValueDE,ValueFL,ValueGA,ValueHI,...,ValueTN,ValueTX,ValueUT,ValueVT,ValueVA,ValueWA,ValueWV,ValueWI,ValueWY,Value
count,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,...,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,0.969390,0.939254,0.932725,0.971255,0.945922,0.954348,0.931882,0.963441,0.929353,0.952846,...,0.959597,0.970207,0.934608,0.957006,0.962476,0.966222,0.968089,0.963197,0.964652,0.938707
std,0.026771,0.043011,0.028004,0.026940,0.024992,0.030143,0.039163,0.028701,0.031940,0.027883,...,0.036501,0.027137,0.041258,0.032387,0.031305,0.026768,0.024518,0.033389,0.026356,0.045041
min,0.872598,0.771111,0.846203,0.861622,0.870084,0.838751,0.823583,0.864550,0.832715,0.849939,...,0.809349,0.856773,0.790516,0.848739,0.838633,0.846263,0.871264,0.829693,0.882989,0.767608
25%,0.955706,0.929268,0.917464,0.965063,0.931971,0.939007,0.906786,0.951062,0.910937,0.944930,...,0.951716,0.959443,0.918030,0.942818,0.956373,0.961856,0.958991,0.954276,0.954982,0.920940
50%,0.977250,0.949213,0.934992,0.978021,0.945327,0.960939,0.938386,0.970821,0.928931,0.956737,...,0.970435,0.976100,0.941914,0.962631,0.970180,0.974227,0.974781,0.975255,0.970017,0.950024
75%,0.986240,0.963171,0.947947,0.989024,0.964504,0.975201,0.958892,0.980512,0.950018,0.970793,...,0.983220,0.987883,0.962254,0.981117,0.979128,0.979089,0.983281,0.985194,0.984698,0.964382
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000