In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import quandl

import pickle

from matplotlib import style
style.use('ggplot')

## Getting rid of bad data

In [4]:
bridge_height = {'meters':[10.26, 10.31, 10.27, 10.22, 10.23, 6212.42, 10.28, 10.25, 10.31]}

### We can see the 6212.42 is very different

In [5]:
df = pd.DataFrame(bridge_height)
df.plot()
plt.show()

### Looking at the STD

In [19]:
"""

df['STD'] = df['meters'].std()

"""
df['STD'] = df['meters'].std()
df['STD'] = pd.rolling_std(df['meters'],2)
print df

df.plot()
plt.show()

C:\Users\phay\Anaconda2\lib\site-packages\ipykernel\__main__.py:7: FutureWarning: pd.rolling_std is deprecated for Series and will be removed in a future version, replace with
	Series.rolling(window=2,center=False).std()

    meters          STD
0    10.26          NaN
1    10.31     0.035355
2    10.27     0.028284
3    10.22     0.035355
4    10.23     0.007071
5  6212.42  4385.610607
6    10.28  4385.575252
7    10.25     0.021213
8    10.31     0.042426

### Figuring out a threshold to raise errors

In [22]:
df_std = df.describe()
df_std

            meters          STD
count     9.000000     8.000000
mean    699.394444  1096.419446
std    2067.384584  2030.121949
min      10.220000     0.007071
25%      10.250000          NaN
50%      10.270000          NaN
75%      10.310000          NaN
max    6212.420000  4385.610607

In [23]:
df_std = df.describe()['meters']['std']

In [25]:
df = df[(df['STD'] < df_std)]
df

   meters       STD
1   10.31  0.035355
2   10.27  0.028284
3   10.22  0.035355
4   10.23  0.007071
7   10.25  0.021213
8   10.31  0.042426

In [26]:
df['meters'].plot()
plt.show()