In [2]:
import numpy as np
from sklearn.cluster import MeanShift, KMeans
from sklearn import preprocessing, cross_validation
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [4]:
df = pd.read_excel('data/titanic.xls')

original_df = pd.DataFrame.copy(df)
df.drop(['body','name'], 1, inplace=True)
df.fillna(0,inplace=True)

In [5]:
def handle_non_numerical_data(df):
    
    # handling non-numerical data: must convert.
    columns = df.columns.values

    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        #print(column,df[column].dtype)
        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            
            column_contents = df[column].values.tolist()
            #finding just the uniques
            unique_elements = set(column_contents)
            # great, found them. 
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    # creating dict that contains new
                    # id per unique string
                    text_digit_vals[unique] = x
                    x+=1
            # now we map the new "id" vlaue
            # to replace the string. 
            df[column] = list(map(convert_to_int,df[column]))

    return df

In [6]:
df = handle_non_numerical_data(df)
df.drop(['ticket','home.dest'], 1, inplace=True)

X = np.array(df.drop(['survived'], 1).astype(float))
X = preprocessing.scale(X)
y = np.array(df['survived'])

clf = MeanShift()
clf.fit(X)

MeanShift(bandwidth=None, bin_seeding=False, cluster_all=True, min_bin_freq=1,
     n_jobs=1, seeds=None)

In [9]:
labels = clf.labels_
cluster_centers = clf.cluster_centers_
original_df['cluster_group']=np.nan
for i in range(len(X)):
    original_df['cluster_group'].iloc[i] = labels[i]

C:\Users\phay\Anaconda2\lib\site-packages\pandas\core\indexing.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [10]:
n_clusters_ = len(np.unique(labels))
survival_rates = {}
for i in range(n_clusters_):
    temp_df = original_df[ (original_df['cluster_group']==float(i)) ]
    #print(temp_df.head())

    survival_cluster = temp_df[  (temp_df['survived'] == 1) ]

    survival_rate = len(survival_cluster) / len(temp_df)
    #print(i,survival_rate)
    survival_rates[i] = survival_rate
    
print(survival_rates)

{0: 0, 1: 0, 2: 1, 3: 0}

In [12]:
print(original_df[ (original_df['cluster_group']==1) ])

     pclass  survived                                               name  \
1         1         1                     Allison, Master. Hudson Trevor
2         1         0                       Allison, Miss. Helen Loraine
3         1         0               Allison, Mr. Hudson Joshua Creighton
4         1         0    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
10        1         0                             Astor, Col. John Jacob
11        1         1  Astor, Mrs. John Jacob (Madeleine Talmadge Force)
16        1         0                           Baxter, Mr. Quigg Edmond
17        1         1    Baxter, Mrs. James (Helene DeLaudeniere Chaput)
23        1         1                              Bidois, Miss. Rosalie
24        1         1                                  Bird, Miss. Ellen
35        1         1                           Bowen, Miss. Grace Scott
54        1         1                Carter, Master. William Thornton II
55        1         1                          Carter, Miss. Lucile Polk
56        1         1                         Carter, Mr. William Ernest
57        1         1          Carter, Mrs. William Ernest (Lucile Polk)
66        1         1                        Chaudanson, Miss. Victorine
78        1         1  Compton, Mrs. Alexander Taylor (Mary Eliza Ing...
97        1         1  Douglas, Mrs. Frederick Charles (Mary Helene B...
103       1         1                      Endres, Miss. Caroline Louise
111       1         1                     Fortune, Miss. Alice Elizabeth
112       1         1                         Fortune, Miss. Ethel Flora
113       1         1                         Fortune, Miss. Mabel Helen
114       1         0                     Fortune, Mr. Charles Alexander
115       1         0                                  Fortune, Mr. Mark
116       1         1                Fortune, Mrs. Mark (Mary McDougald)
123       1         1                   Frolicher-Stehli, Mr. Maxmillian
124       1         1  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...
129       1         1                               Geiger, Miss. Amalie
138       1         0                          Graham, Mr. George Edward
139       1         1      Graham, Mrs. William Thompson (Edith Junkins)
173       1         0                                 Keeping, Mr. Edwin
193       1         1                  Madill, Miss. Georgette Alexandra
215       1         0                         Newell, Mr. Arthur Webster
238       1         1  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...
249       1         1                        Ryerson, Master. John Borie
250       1         1                         Ryerson, Miss. Emily Borie
251       1         1              Ryerson, Miss. Susan Parker "Suzette"
252       1         0                         Ryerson, Mr. Arthur Larned
253       1         1    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
276       1         0                      Spencer, Mr. William Augustus
285       1         0                                 Straus, Mr. Isidor
286       1         0             Straus, Mrs. Isidor (Rosalie Ida Blun)
296       1         1  Thayer, Mrs. John Borland (Marian Longstreth M...
309       1         1                           Wick, Miss. Mary Natalie
312       1         0                         Widener, Mr. George Dunton
313       1         0                          Widener, Mr. Harry Elkins
314       1         1       Widener, Mrs. George Dunton (Eleanor Elkins)

        sex      age  sibsp  parch    ticket      fare            cabin  \
1      male   0.9167      1      2    113781  151.5500          C22 C26
2    female   2.0000      1      2    113781  151.5500          C22 C26
3      male  30.0000      1      2    113781  151.5500          C22 C26
4    female  25.0000      1      2    113781  151.5500          C22 C26
10     male  47.0000      1      0  PC 17757  227.5250          C62 C64
11   female  18.0000      1      0  PC 17757  227.5250          C62 C64
16     male  24.0000      0      1  PC 17558  247.5208          B58 B60
17   female  50.0000      0      1  PC 17558  247.5208          B58 B60
23   female  42.0000      0      0  PC 17757  227.5250              NaN
24   female  29.0000      0      0  PC 17483  221.7792              C97
35   female  45.0000      0      0  PC 17608  262.3750              NaN
54     male  11.0000      1      2    113760  120.0000          B96 B98
55   female  14.0000      1      2    113760  120.0000          B96 B98
56     male  36.0000      1      2    113760  120.0000          B96 B98
57   female  36.0000      1      2    113760  120.0000          B96 B98
66   female  36.0000      0      0  PC 17608  262.3750              B61
78   female  64.0000      0      2  PC 17756   83.1583              E45
97   female  27.0000      1      1  PC 17558  247.5208          B58 B60
103  female  38.0000      0      0  PC 17757  227.5250              C45
111  female  24.0000      3      2     19950  263.0000      C23 C25 C27
112  female  28.0000      3      2     19950  263.0000      C23 C25 C27
113  female  23.0000      3      2     19950  263.0000      C23 C25 C27
114    male  19.0000      3      2     19950  263.0000      C23 C25 C27
115    male  64.0000      1      4     19950  263.0000      C23 C25 C27
116  female  60.0000      1      4     19950  263.0000      C23 C25 C27
123    male  60.0000      1      1     13567   79.2000              B41
124  female  48.0000      1      1     13567   79.2000              B41
129  female  35.0000      0      0    113503  211.5000             C130
138    male  38.0000      0      1  PC 17582  153.4625              C91
139  female  58.0000      0      1  PC 17582  153.4625             C125
173    male  32.5000      0      0    113503  211.5000             C132
193  female  15.0000      0      1     24160  211.3375               B5
215    male  58.0000      0      2     35273  113.2750              D48
238  female  43.0000      0      1     24160  211.3375               B3
249    male  13.0000      2      2  PC 17608  262.3750  B57 B59 B63 B66
250  female  18.0000      2      2  PC 17608  262.3750  B57 B59 B63 B66
251  female  21.0000      2      2  PC 17608  262.3750  B57 B59 B63 B66
252    male  61.0000      1      3  PC 17608  262.3750  B57 B59 B63 B66
253  female  48.0000      1      3  PC 17608  262.3750  B57 B59 B63 B66
276    male  57.0000      1      0  PC 17569  146.5208              B78
285    male  67.0000      1      0  PC 17483  221.7792          C55 C57
286  female  63.0000      1      0  PC 17483  221.7792          C55 C57
296  female  39.0000      1      1     17421  110.8833              C68
309  female  31.0000      0      2     36928  164.8667               C7
312    male  50.0000      1      1    113503  211.5000              C80
313    male  27.0000      0      2    113503  211.5000              C82
314  female  50.0000      1      1    113503  211.5000              C80

    embarked boat   body                        home.dest  cluster_group
1          S   11    NaN  Montreal, PQ / Chesterville, ON            1.0
2          S  NaN    NaN  Montreal, PQ / Chesterville, ON            1.0
3          S  NaN  135.0  Montreal, PQ / Chesterville, ON            1.0
4          S  NaN    NaN  Montreal, PQ / Chesterville, ON            1.0
10         C  NaN  124.0                     New York, NY            1.0
11         C    4    NaN                     New York, NY            1.0
16         C  NaN    NaN                     Montreal, PQ            1.0
17         C    6    NaN                     Montreal, PQ            1.0
23         C    4    NaN                              NaN            1.0
24         S    8    NaN                              NaN            1.0
35         C    4    NaN                  Cooperstown, NY            1.0
54         S    4    NaN                    Bryn Mawr, PA            1.0
55         S    4    NaN                    Bryn Mawr, PA            1.0
56         S    C    NaN                    Bryn Mawr, PA            1.0
57         S    4    NaN                    Bryn Mawr, PA            1.0
66         C    4    NaN                              NaN            1.0
78         C   14    NaN                     Lakewood, NJ            1.0
97         C    6    NaN                     Montreal, PQ            1.0
103        C    4    NaN                     New York, NY            1.0
111        S   10    NaN                     Winnipeg, MB            1.0
112        S   10    NaN                     Winnipeg, MB            1.0
113        S   10    NaN                     Winnipeg, MB            1.0
114        S  NaN    NaN                     Winnipeg, MB            1.0
115        S  NaN    NaN                     Winnipeg, MB            1.0
116        S   10    NaN                     Winnipeg, MB            1.0
123        C    5    NaN              Zurich, Switzerland            1.0
124        C    5    NaN              Zurich, Switzerland            1.0
129        C    4    NaN                              NaN            1.0
138        S  NaN  147.0                     Winnipeg, MB            1.0
139        S    3    NaN                    Greenwich, CT            1.0
173        C  NaN   45.0                              NaN            1.0
193        S    2    NaN                     St Louis, MO            1.0
215        C  NaN  122.0                    Lexington, MA            1.0
238        S    2    NaN                     St Louis, MO            1.0
249        C    4    NaN  Haverford, PA / Cooperstown, NY            1.0
250        C    4    NaN  Haverford, PA / Cooperstown, NY            1.0
251        C    4    NaN  Haverford, PA / Cooperstown, NY            1.0
252        C  NaN    NaN  Haverford, PA / Cooperstown, NY            1.0
253        C    4    NaN  Haverford, PA / Cooperstown, NY            1.0
276        C  NaN    NaN                    Paris, France            1.0
285        S  NaN   96.0                     New York, NY            1.0
286        S  NaN    NaN                     New York, NY            1.0
296        C    4    NaN                    Haverford, PA            1.0
309        S    8    NaN                   Youngstown, OH            1.0
312        C  NaN    NaN                  Elkins Park, PA            1.0
313        C  NaN    NaN                  Elkins Park, PA            1.0
314        C    4    NaN                  Elkins Park, PA            1.0

In [11]:
print(original_df[ (original_df['cluster_group']==0) ].describe())
print(original_df[ (original_df['cluster_group']==2) ].describe())

            pclass     survived         age        sibsp        parch  \
count  1248.000000  1248.000000  987.000000  1248.000000  1248.000000
mean      2.342147     0.371795   29.429838     0.483974     0.302885
std       0.813333     0.483478   14.201267     1.049565     0.655315
min       1.000000     0.000000    0.166700     0.000000     0.000000
25%       2.000000     0.000000         NaN     0.000000     0.000000
50%       3.000000     0.000000         NaN     0.000000     0.000000
75%       3.000000     1.000000         NaN     1.000000     0.000000
max       3.000000     1.000000   80.000000     8.000000     4.000000

              fare        body  cluster_group
count  1247.000000  113.000000         1248.0
mean     25.413876  162.123894            0.0
std      28.856902   98.916644            0.0
min       0.000000    1.000000            0.0
25%            NaN         NaN            0.0
50%            NaN         NaN            0.0
75%            NaN         NaN            0.0
max     227.525000  328.000000            0.0
       pclass  survived        age  sibsp    parch      fare  body  \
count     4.0       4.0   4.000000    4.0  4.00000    4.0000   0.0
mean      1.0       1.0  41.000000    0.0  0.50000  512.3292   NaN
std       0.0       0.0  11.343133    0.0  0.57735    0.0000   NaN
min       1.0       1.0  35.000000    0.0  0.00000  512.3292   NaN
25%       1.0       1.0  35.000000    0.0  0.00000  512.3292   NaN
50%       1.0       1.0  35.500000    0.0  0.50000  512.3292   NaN
75%       1.0       1.0  41.500000    0.0  1.00000  512.3292   NaN
max       1.0       1.0  58.000000    0.0  1.00000  512.3292   NaN

       cluster_group
count            4.0
mean             2.0
std              0.0
min              2.0
25%              2.0
50%              2.0
75%              2.0
max              2.0

C:\Users\phay\Anaconda2\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)